In [5]:
## Exercise 2 - Markdown cell with H1 heading of "Data Science Tools and Ecosystem"

# Data Science Tools and Ecosystem

In [9]:
## Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summerized

In [78]:
## Exerice 10 - Insert a markdown cell to list objectives

**Objectives:**
- List different Data Science: Languages, Libraries, and Tools
- Work with headers of different sizes
- Create both markdown and code based cells
- Work with ordered and unordered lists
- Demonstrate basic arithmetic functionality
- Convert Minutes into Hours
- Alter font styling

In [12]:
## Exerice 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Sciencists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

In [ ]:
## Exercie 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

In [19]:
## Exercise 6 - Create a markdown cell with a table of Data Science Tools

|Data Science Tools|
|------|
|RStudio|
|Jupyter Lab / Notebooks|
|Spyder|

In [24]:
## Exercise 7 - Create a marekdown cell introducting arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
## Exercise 8 - Create a code cell to multiply and add numbers

In [30]:
## This is a simple arithmetic expression to multiply and then add an integer
(3*4)+5

17

In [32]:
## Exerice 9 - Create a code cell to convert minutes to hours

In [72]:
## This will convert 200 minutes to hours by dividing by 60
print("200 Minutes converted into hours is:")
round(200/60,2)

200 Minutes converted into hours is:

3.33

In [74]:
# Exerice 11 - Create a markdown cell to indicate the Author's name

## Author
Stewart Barclay,

B. Info Sys., B.B.A. [Finance], B.A. [Psych. Hons, SCFP]